.centered-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  margin-bottom: 70px;
}

.msg_center {
  font-weight: bold;
}

.msg_box {
  display: flex;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  /* justify-content: center; */
}

.logout-form {
  margin-bottom: 70px;
}

.messages {
  max-width: 40%;
}

.username_style {
  font-size: 9px;
  position: absolute;
  top: -5px;
  left: 5px;
}
